In [1]:
# -*- coding: utf-8 -*-


import pandas as pd
pd.set_option('display.max_columns', None)  # 设置查看列不省略
import numpy as np

In [2]:
x_list = [
    50, 51, 748, 749, 50, 51, 748, 749, 50, 51, 201, 202, 748, 749, 50, 51,
    201, 202, 748, 749, 50, 51, 201, 202, 748, 749, 50, 51, 201, 202, 748, 749,
    50, 51, 201, 202, 748, 749, 50, 51, 201, 202, 748, 749, 50, 51, 201, 202,
    399, 400, 550, 551, 748, 749, 50, 51, 201, 202, 399, 400, 550, 551, 748,
    749, 50, 51, 201, 202, 399, 400, 550, 551, 748, 749, 50, 51, 201, 202, 748,
    749, 50, 51, 201, 202, 748, 749, 50, 51, 201, 202, 748, 749, 50, 51, 201,
    202, 748, 749, 50, 51
]
y_list = [
    13, 13, 13, 13, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 90, 90, 90, 90, 90,
    90, 91, 91, 91, 91, 91, 91, 198, 198, 198, 198, 198, 198, 199, 199, 199,
    199, 199, 199, 234, 234, 234, 234, 234, 234, 235, 235, 235, 235, 235, 235,
    235, 235, 235, 235, 270, 270, 270, 270, 270, 270, 270, 270, 270, 270, 271,
    271, 271, 271, 271, 271, 271, 271, 271, 271, 306, 306, 306, 306, 306, 306,
    307, 307, 307, 307, 307, 307, 342, 342, 342, 342, 342, 342, 343, 343, 343,
    343, 343, 343, 384, 384
]

df = pd.DataFrame()
df['p_w'] = x_list
df['p_h'] = y_list
df['p_id'] = df.index
df

    p_w  p_h  p_id
0    50   13     0
1    51   13     1
2   748   13     2
3   749   13     3
4    50   54     4
..  ...  ...   ...
95  202  343    95
96  748  343    96
97  749  343    97
98   50  384    98
99   51  384    99

[100 rows x 3 columns]

In [3]:
one_point = df.loc[0, ['p_w', 'p_h']]
all_point = df[['p_w', 'p_h']]
dist = np.sqrt(np.sum(np.asarray(one_point - all_point)**2, axis=1))
dist

array([  0.        ,   1.        , 698.        , 699.        ,
        41.        ,  41.01219331, 699.20311784, 700.2013996 ,
        42.        ,  42.01190308, 156.73225577, 157.6959099 ,
       699.26246861, 700.26066575,  77.        ,  77.00649323,
       169.49926254, 170.39072745, 702.23429139, 703.22827019,
        78.        ,  78.00640999, 169.95587663, 170.84495895,
       702.34464474, 703.3384676 , 185.        , 185.00270268,
       238.80117253, 239.43475103, 722.10040853, 723.06707849,
       186.        , 186.00268815, 239.57671005, 240.20824299,
       722.35725233, 723.32357904, 221.        , 221.00226243,
       267.66023238, 268.22565127, 732.15094072, 733.10435819,
       222.        , 222.00225224, 268.48649873, 269.05018119,
       413.6242256 , 414.46833413, 547.06855146, 547.98266396,
       732.45341149, 733.40643575, 257.        , 257.00194552,
       298.07717122, 298.58499627, 433.41665866, 434.2222933 ,
       562.18235476, 563.07193146, 743.80978751, 744.74827962,
       258.        , 258.00193798, 298.93979327, 299.44615543,
       434.01036854, 434.81490315, 562.64020475, 563.5290587 ,
       744.15589765, 745.09395381, 293.        , 293.00170648,
       329.62099448, 330.08029326, 757.002642  , 757.92479838,
       294.        , 294.00170068, 330.51021164, 330.96827643,
       757.39025608, 758.31194109, 329.        , 329.00151975,
       361.99723756, 362.41550739, 771.65082777, 772.55549962,
       330.        , 330.00151515, 362.906324  , 363.32354727,
       772.0777163 , 772.98188853, 371.        , 371.00134771])

In [4]:
dist[dist != 0]

array([  1.        , 698.        , 699.        ,  41.        ,
        41.01219331, 699.20311784, 700.2013996 ,  42.        ,
        42.01190308, 156.73225577, 157.6959099 , 699.26246861,
       700.26066575,  77.        ,  77.00649323, 169.49926254,
       170.39072745, 702.23429139, 703.22827019,  78.        ,
        78.00640999, 169.95587663, 170.84495895, 702.34464474,
       703.3384676 , 185.        , 185.00270268, 238.80117253,
       239.43475103, 722.10040853, 723.06707849, 186.        ,
       186.00268815, 239.57671005, 240.20824299, 722.35725233,
       723.32357904, 221.        , 221.00226243, 267.66023238,
       268.22565127, 732.15094072, 733.10435819, 222.        ,
       222.00225224, 268.48649873, 269.05018119, 413.6242256 ,
       414.46833413, 547.06855146, 547.98266396, 732.45341149,
       733.40643575, 257.        , 257.00194552, 298.07717122,
       298.58499627, 433.41665866, 434.2222933 , 562.18235476,
       563.07193146, 743.80978751, 744.74827962, 258.        ,
       258.00193798, 298.93979327, 299.44615543, 434.01036854,
       434.81490315, 562.64020475, 563.5290587 , 744.15589765,
       745.09395381, 293.        , 293.00170648, 329.62099448,
       330.08029326, 757.002642  , 757.92479838, 294.        ,
       294.00170068, 330.51021164, 330.96827643, 757.39025608,
       758.31194109, 329.        , 329.00151975, 361.99723756,
       362.41550739, 771.65082777, 772.55549962, 330.        ,
       330.00151515, 362.906324  , 363.32354727, 772.0777163 ,
       772.98188853, 371.        , 371.00134771])